<section>
    <div class="container mt-4">
        <div class="row justify-content-center align-self-center">
            <h2 style="font-family: 'Andale Mono';color: black">About our classroom</h2>
        </div>
    </div>
</section>