<%- include('./partials/nav-sidebar') %>


<section>
    <div class="container">
        <div class="row justify-content-center align-self-center" style="margin-top: 25px;">
            <h2 class="text-light" style="font-family: 'Ubuntu Mono';margin-left: 30px">Total Students :
                <strong></strong></h2>
            <div style="width: 66%;margin-left: 7px">
                <%- include('./partials/messages') %>
            </div>

            <div style="background:#423649;border-radius: 5px;margin: 3px;width: 70%;">
                <div class="row">
                    <div class="col-md-2">
                        <img src=""
                             class="rounded-circle" style="margin-top: 12px; margin-left: 20px"
                             height="70" width="70" alt="Image">
                    </div>
                    <div style="height: 92px;width: 2px;background:#74a8ff;"></div>
                    <div class="col-md-5">
                        <p class="text-light mt-1">Name : <strong style="color: #7abaff"></strong></p>
                        <p class="text-light mt-1">Email : <strong style="color: #7abaff"></strong></p>
                    </div>
                    <div style="height: 92px;width: 2px;background:#74a8ff;"></div>
                    <div class="col-md-4">
                        <h3 class="text-light mt-4">Joined : <strong></strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

