<%- include('./partials/nav-sidebar') %>
<div class="container my-5">
    <div class="row justify-content-center align-self-center m-4">
        <ul class="nav nav-tabs nav-justified" style="font-family: Ubuntu">
            <li class="nav-item">
                <a class="nav-link" href="class-materials.html">Stream</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="class-work.html">Class Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="class-mates.html">Class mates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="class-mates.html">Mark</a>
            </li>
        </ul>
        
    </div>
    <div class="container my-4">
        <div class="row" style="margin: 80px;">
            <div class="col m-2 text-light" style="background-color:whitesmoke">
                <div class="row m-1">
                    <div class="col-md-10 m-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


