<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id"
          content="592822109196-sodbu2iko1fnujdam52ich4qaqo53ekj.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../public/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../public/css/bootstrap-select.css" rel="stylesheet" type="text/css">
    <link href="../public/css/navbar-fixed.css" rel="stylesheet" type="text/css">
    <link href="../public/css/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="../public/css/slick.css" rel="stylesheet" type="text/css">
    <link href="../public/css/uikit.min.css" rel="stylesheet" type="text/css">
    <link href="../public/css/style.css" rel="stylesheet" type="text/css">
    <link href="../public/css/sidenav.min.css" rel="stylesheet" type="text/css">
    <link href="../public/css/edit-text-style.css" rel="stylesheet" type="text/css">
    <link href="../public/css/editor.css" rel="stylesheet" type="text/css">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>


    <link rel="stylesheet" href="http://demo.itsolutionstuff.com/plugin/clockface.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
          type="text/css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css">


    <link href="../public/css/login-style.css" rel="stylesheet">

    <title>DOCOPEDIA</title>

    <link rel="shortcut icon" href="../public/images/web.png">

    <style>
        html, body {
            min-height: 100vh;
            min-width: 100vh;
            background-repeat: repeat-y;
            background-color: aliceblue;
           
        }
    </style>
</head>

<body>

<%- body %>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>




<!--<script src="../public/js/bootstrap.min.js"></script>-->
<!--<script src="../public/js/jquery.min.js"></script>-->

<script src="../public/js/navbar-fixed.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/slick.min.js"></script>
<script src="../public/js/uikit.min.js"></script>
<script src="../public/js/login-style.js"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="../public/js/google-sign-in.js"></script>
<script src="../public/js/gmail-api.js" type="text/javascript"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
<script src="https://kit.fontawesome.com/dcc89a6eae.js" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/bootstrap-select.js"></script>
<script src="../public/js/editor.js"></script>




</body>

</html>