<%- include('./partials/nav-sidebar') %>
<section class="mb-2">
    <div class="container">
        <div class="row justify-content-center align-self-center" style="margin-top: 50px">
            <div class="col-lg-5 col-md-8" style="background-color: #0d64bc;border-radius: 5px;padding: 20px">
                <form action="/user/updatepassword" method="POST"
                      onsubmit="return validateForm()">
                    <div class="form-group">
                        <label style="font-family: 'Ubuntu Mono';font-size: 20px" class="text-light"
                               for="email">
                            Give your email to reset password</label>
                        <input type="email" id="email" class="form-control" name="email"
                               placeholder="Give your email" required>
                    </div>
                    <label style="font-family: 'Ubuntu Mono';font-size: 20px" class="text-light" for="pas">
                        Give your new password</label>
                    <div class="input-group" id="pas">
                        <input type="password" id="password" class="form-control" name="password"
                               placeholder="New password" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group btn-group mt-3">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check-circle">Update password</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <%- include('./partials/messages') %>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        let input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script>
    function validateForm() {
        let verification = document.getElementById('verification').value;
        if (verification === "") {
            swal({
                icon: "warning",
                text: "Please,Give your input perfectly...",
                value: true,
                visible: true,
                className: "",
                closeModal: true,
                width: '800px',
                button: {
                    text: "OK",
                },
            });
            $(".swal-button").css('background-color', 'red');
            $(".swal-button").css('border', '3px solid red');
            $(".swal-text").css('color', '#fff')
            $(".swal-modal").css('background-color', '#3f69ac');
            $(".swal-container.in").css('background-color', 'rgba(152,186,16,0.45)');
            return false;
        }
    }

</script>