<%- include('./partials/nav-sidebar') %>
<div class="container" style="margin: 200px;">
<h2 class="text-light">You do not create or join any class</h2>
<a href="/user/register" class="login-button">Login/Sign up</a>

</div>