.navbar {
  background: rgba(16, 117, 161, 0.8);
}
.navbar .nav-item {
  padding-left: 1rem;
}
.navbar .nav-item .nav-link {
  text-transform: uppercase;
}

.card-footer {
  position: relative;
}

.icons {
  /* position: absolute; */
  /* top: -0.35rem; */
  font-size: 2em;
}

.dropbtn {
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 3px;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #eaeef4;
  min-width: 130px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(71, 76, 102);
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: rgb(204, 191, 191);
}

.show {
  display: block;
}

.icon-custom-button {
  border-radius: 20px;
  border: 1px solid #2B282C;
  background-color: #2B282C;
  color: #ffffff;
  height: 35px;
  width: 45px;
  transition: transform 80ms ease-in;
}
.icon-custom-button:hover{
 transform: scale(1.2);
 background-color: rgb(72, 67, 73);
}

.custom-button-1 {
  border-radius: 25px;
  border: 1px solid rgb(212, 192, 12);
  background-color: rgb(238, 234, 22);
  color: #ffffff;

  font-weight: bold;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.custom-button-2 {
  border-radius: 25px;
  
  background-color: rgb(106, 105, 189);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.custom-button-3 {
  border-radius: 25px;
  border: 1px solid rgb(106, 105, 189);
  background-color: rgb(106, 105, 189);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.code-sent{
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
}

.joined-button{
  background-color: rgb(242, 114, 2);
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
}
.joined-button-submit{
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
}
.wrapper{
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
}

.wrapper > div{
  padding:1em;
}

.box1{
  /*grid-column:1/3;*/
  float: left;
  width: 57%;
}

.box2{
  /*grid-column:3;*/
  /*grid-row:1/3;*/
  float: right;
  width: 36%;
}

.gallery{
  margin: 5px;
}
.gallery img{
  transition: 1s;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

.custom-file-input-style {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.custom-file-input-style input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  /* Fix for IE7 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: yellowgreen;
  color: white;
}

.grow { transition: all .5s ease-in-out; }
.grow1 { transition: all .4s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.grow1:hover { transform: scale(1.0004); }

.purple-square-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.purple-square {
  background-color: #244F6F;
  width: 80%;
}

.showme {
  display: none;
}
.showhim:hover .showme {
  display: block;
}

.thumbnail img {
  height: 60px !important;
  width: 60px !important;
}

.thumbnail_medium img {
  height: 70px !important;
  width: 70px !important;
}
.thumbnail1 img {
  height: 45px !important;
  width: 45px !important;
}
.thumbnail2 img {
  height: 33px !important;
  width: 33px !important;
}

